body{
    background-color: #272a33;
    color: white;
    font-family: "Roboto";
}

a {
    color:inherit;
    text-decoration: none;
}

header span{
    color: #74dbee;
    font-size: 48px;
}

.logo{
    height: 57px;
}

.suggestion  .container, header .container, .suggestion-form .container{
    padding-bottom:  20px;
    width: 100%;
    border-bottom: 1px solid white;
}

.suggestion .p{
    font-size: 16px;
}

.suggestion span{
    color: #74dbee;
}


.suggestion .glyphicon{
    color: #25fb45;
    height: 13px;
    cursor: pointer;
}


.comment-section{
    margin-top: 40px;
}

.comment-form{
    margin-top: 20px;
}

/* Back button */

.button-back{
    position: fixed;
    top: 50%;
    left: 4%;
    width: 78px;
    height: 78px;
    background-color: #214163;
    border-radius: 100%;
    text-align: center;

    transition-duration: 0.8s;
    transition-property: background-color;
}

.button-back span{
    line-height: 78px;
}

.button-back a{
    color: white;
}

.button-back:hover{
    background-color: #0363c6;
    color: white;
    transition-duration: 0.8s;
    transition-property: background-color;
}

/* End back button */

nav .container-fluid{
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 14px;
}

nav .navbar-header img{
    max-width: 30px;
    position: relative;
    top: 50%;
    transform: translateY(25%);
}

ul.nav a:hover {
    color: #214163 !important;
    border-radius: 14px;
}
